{% extends 'base.html'%}

{% block body%}
    <div class="app_navigation">
        <a ><input type="text"></a>
        <a href="">Search</a>
        <a href="/new">New</a>
        <a href="/login_view">Home</a>
        <a href="">Profile</a>
    </div>
    <h1>UST Location Assignment</h1>
    <div id="location_interface">

    <!-- <form action="" method="get"> succeeding list should populate based on choice-->
    <!-- Reorganize for js dynamic list-->
        <form>
            <label for="location_code">Location Code</label>
            <input list="location_code" name="location_code" id="location_choice">
            <datalist id="location_code">
                <option value="L1">
                <option value="L2">
                <option value="L3">
                <option value="L4">
                <option value="L5">
            </datalist>
                <label for="location_description">Description</label>
                <input list="location_description" name="location_description" id="location_choice">
            <datalist id="location_description">
                <option value="Americas">
                <option value="Asia Pacific">
                <option value="Europe">
                <option value="Middle East">
                <option value="Africa">
            </datalist>
                <label for="location_city">City</label>
                <input list="location_city" name="location_city" id="location_choice">
            <datalist id="location_city">
                <option value="Penang">
                <option Value="Cyberjaya">
                <option value="Leon">
                <option value="Guadelajara">
                <option value="Bangalore">
                <option value="Dehli">
                <option value="Madrid">
                <option value="Barcelona">
                <option value="Atlanta">
                <option value="Sidney,NE">
            </datalist>
                <label for="location_country">Country</label>
                <input list="location_country" name="location_country" id="location_choice">
            <datalist id="location_country">
                <option value="Malaysia">
                <option value="Mexico">
                <option value="India">
                <option value="Spain">
                <option value="USA">
            </datalist>
            <input id="" class="clickables" type="submit" value="UPDATE" style="color:white">
        </form>
    </div>
{% endblock%}