body {
    margin: 0;
    padding: 25px;
    background-color: #9DDBAD;
    color: #040403;
    font-size: 20px; 
}

/* .container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
} */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}